langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
langchain-classic
chromadb
pypdf
streamlit
sentence-transformers
python-dotenv
unstructured
beautifulsoup4
requests
numpy
